.top-content,
.top-content a {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* optional, adjusts the dropdown position */
  opacity: 1;
    visibility: visible;
    border-radius: 0px;
    padding: 0px;
}

.dropdown-item:focus, .dropdown-item:hover{
  background-color: #fff7f7;
  color: #f6355a;
}

.navbar-nav li a {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  color: #0b100d;
}

.plan-body .card-title span{
  color:#f6355a
}

.signIn-btn {
  padding: 9px 21px;
  border-radius: 8px;
  border: 1px solid #0b100d;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
}

.signIn-btn:hover{
border: 1px solid #f6355a;
color:#f6355a
}

.hero-frame {
  width: 100%;
}


.footer-sec {
  background: #0d121f;
  overflow: hidden;
}

.social-footer-icon{
  background-color: #fff;
  color: #f6355a;
  margin-left: 10px;
  font-size: 41px;
  padding: 10px;
  border-radius: 30px;

}

.footer-menu {
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

.footer-menu:hover{
  border-bottom: 1px solid #fff;
  /* text-decoration: underline !important;
  color: #fff !important; */
}
.footer-con {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;  
}

.footer-arrow-icon {
  color: #f6355a;
  font-size: 14px;
  font-weight: 500;
  width: 13px;
}

.menu-head {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 25px;
}

.bottom-footer{
    border-top: 1px solid #fff;
}

.pay-optionimg{
  text-align: end;
}

.terms-links{
  text-align: end;
  align-items: center;
}

.terms-links a{
  color: #fff;
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}

.copyrights{
  font-family: Poppins;
font-size: 16px;
font-weight: 400;
}

/* service */

.service-section {
  background: #f6355a;
}

.service-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.start-now {
  padding: 6px 20px;
}
.start-now a {
  font-size: 12px;
  font-weight: 700;
}

/* carousel */
/* Carousel Wrapper */
.carousel-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 2px 0;
}

.carousel-right-slide {
  direction: rtl;
}

.carousel {
  display: flex;
  align-items: center;
  animation: scroll-left 15s linear infinite;
}

.item {
  flex: 0 0 auto;
  margin: 0 10px;
  padding: 12px 30px;
  border: 1px solid #f6355a;
  color: #f6355a;
  border-radius: 66px;
  font-size: 18px;
  font-weight: 400;
}

/* Left-moving scroll for the first row */
.carousel.left {
  animation: scroll-left 15s linear infinite;
}

/* Right-moving scroll for the second row */
.carousel.right {
  animation: scroll-right 15s linear infinite;
}

.carousel:hover {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Keyframes for right-moving scroll */
@keyframes scroll-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

/* testimonial */


.testimonial-card {
  background: #fff7f7;
  margin-right: 20px;
  border-radius: 30px;
  height: 230px;
  margin: 0px 20px;
}

.testimonial-card:hover{
  background-color: #f6355a;
  color: #fff;
}
.testimonial-card:hover .testimonial-name{

  color: #fff;
}


.testimonial-name {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.testimonial-role {
  font-size: 16px;
  font-weight: 500;
}

.feedback {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.testimonial-img{
  width: 80px;
  height: 80px;
}



.testimonial {
  background: #fff7f7;
}

.accordion-header h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  margin-bottom: 0px;
}

.accordion-item {
  padding: 12px 15px !important;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 12px !important;
}

.accordion-body p {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
}

.slick-prev:before, .slick-next:before {
  display: none;
}

.slick-prev, .slick-next {
 font-size: 20px !important;
 padding: 10px;
    line-height: 0;
    position: absolute;
    top: -136px !important;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
}


.slick-prev{
  /* right: 22px !important; */
left: 97% !important;
}
.slick-next {
  right: 90px !important;
}

.testimonial-arrow {
  color: #fff;
  background-color:#FFF7F7;
  color: #0000004D;
  z-index: 1000;
  padding: 18px;
  font-size: 60px;
  border-radius: 30px;
} 

.testimonial-arrow:hover, .testimonial-arrow:focus{
  background-color: #f6355a !important;
  color: #fff;
}

.faq-header {
  border-radius: 199px;
  width: 350px;
  height: 350px;
  background: linear-gradient(-67.74deg, #f6355a 10.7%, #ff6b88 103.87%);
}

.faq-header h2 {
  color: #fff;
}

.circle-2 {
  position: absolute;
  left: -187px;
}
.circle-3 {
  background: linear-gradient(-67.74deg, #f6355a 10.7%, #ff6b88 103.87%);
  left: -338px;
  z-index: 1;
}

.chat-now-btn{
  background: #FFF7F7;
  border: 1px solid #fff7f7;
  color: #f6355a;
}

.chat-now-btn a{
  color: #f6355a;
}

.chat-sec h3{
font-size: 28px;
font-weight: 700;
color: #161C2D;
}

.chat-sec p{
font-size: 16px;
font-weight: 400;
line-height: 28px;
color: #596780;
}


.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, transform 0.3s ease;
  transform: scaleY(0);
}

.accordion-body.open {
  max-height: 500px; /* Adjust this value based on the content size */
  transform: scaleY(1);
}

.accordion-body.open .accordion-header{
  margin-bottom: 20px;
}



/* tooltip */

/* Tooltip styles */
.custom-tooltip {
  background-color: #fff !important;
  border: 1px solid #f6355a !important;
  color: #f6355a !important;
  padding: 8px;
}

.custom-tooltip.show {
  opacity: 1;
}

/* Make the tooltip stay visible on hover */
.tooltip:hover {
  opacity: 1 !important;
}



@media(max-width: 991px){
  .item {
    margin: 0 5px;
    padding: 10px 15px;
    font-size: 14px;
}
.faq-header{
  width: 280px;
  height: 280px;
}
.circle-2{
  left: -167px;
}
.circle-3{
  left: -291px;
}
.pay-optionimg{
  text-align: center;
}
.footer-menu{
  font-size: 12px;
}
.footer-icon{
  margin-bottom: 12px;
}

.navbar-toggler{
  padding: 3px 10px;
}

.navbar-toggler:focus{
  box-shadow: none;
  border: 1px solid #f6355a;
}

.offcanvas-header{
  border-bottom: 1px solid #f6355a;
}

.offcanvas-body, .offcanvas-body .navbar-nav{
  padding: 0px !important;
}

.offcanvas-body .nav-item{
  padding: 0px 20px !important;
}

.nav-item:hover{
  background: #FFF7F7;

}

}

@media(max-width: 767px){
  .top-content, .top-content a {
    font-size: 14px;
}

.footer-menu-list{
  padding: .5rem !important;
}
.testimonial-name {
  font-size: 18px;
}
.testimonial-role {
  font-size: 16px;
}
.testimonial-head{
  font-size: 24px;
}
.testimonial-subHeading{
  width: 100% !important;
}
.faq-header{
  display: none !important;
}
.feedback{
  line-height: 22px;
}

.pay-optionimg img{
  width: 100%;
}
.terms-links a{
  font-size: 11px;
}
.copyrights{
  font-size: 11px;
}
.footer-menu{
  font-size: 12px
}

.slick-prev, .slick-next {
     top: 45% !important;
 }
 
 
 .slick-prev{
   /* right: 22px !important; */
 left: 93% !important;
 z-index: 100;
 }
 .slick-next {
   right: 97% !important;
 }
 .testimonial-arrow {
  padding: 8px;
  font-size: 35px;
} 

.testimonial-card {
  width: 85%;
  margin: auto;
}
 
}

@media (min-width:768px){
  .faq-heading{
    display: none;
  }
}

@media(min-width:1400px){
  .hero-frame {
    width: 501px;
}

.navbar-expand-lg{
  justify-content: center;
}
}
