.planHead-con{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #596780; 
    width: 80%;
}

.card-title{
font-size: 24px;
font-weight: 800;
color: #0D121F;
}

.card-title span{
    color: #F6355A;
    font-style: italic;
}
.plan-text{
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #596780;

}
.plan-desc{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.card-price{
font-size: 35px;
font-weight: 800;
color: #0D121F;
}
.card-price span{
font-size: 18px;
font-weight: 500;
color: #596780;
}

.popular-card {
    background-color: #F6355A;
    color: white;
    border-radius: 10px;
    border: 1px solid #F6355A;
    box-shadow: -4px 4px 30px 0px #0000000a;
    padding: 35px;
    height: 100%;
    transition: 0.4s;
  }
  
  .popular-card .card-title, .popular-card .card-title span, .popular-card .card-text,
  .popular-card .card-price, .popular-card .save,
  .popular-card .save-price, .popular-card .features, .popular-card .check, .popular-card .card-price span {
    color: white;
  }
  
  .popular-card .plan-btn {
    background-color: white;
    color: #F6355A;
    border: none;
  }
  
  .popular-card .plan-btn a {
    color: #F6355A;
    text-decoration: none;
  }

  .popular-badge{
    box-shadow: -2px -2px 14.6px 0px #0000000D;
    left: calc(50% - 77px);
    border: 1px solid #fff;
    top: -19px;
    padding: 6px 50px;
    background-color: #fff;
    color: #F6355A;
    border-radius: 30px;
  }
  .consult{
font-size: 18px;
font-weight: 400;
line-height: 30px;
color: #596780;
  }

  .consult a{
    color: #F6355A;
    font-family: Plus Jakarta Sans;
font-size: 20px;
font-weight: 800;
  }

  .qloudfeatures{
    background: #F6355A;
    color: #fff;
  }
  .feature-row{
    width: 85%;
  }

  .feature-card{
    background: #FFFFFF;
    color: #333333;
    padding: 30px 20px;
    height: 100%;
    border-radius: 11px;
  }

  .feature-card h3{
font-size: 22px;
font-weight: 800;
line-height: 19.8px;
color: #333333;
  }

  .feature-card span{
font-size: 16px;
font-weight: 400;
line-height: 25px;
color: #2C2C2C;
  }

  .blog-card{
    border: 0px;
  }

  .blog-body{
    padding: 0px;
    box-shadow: none;
    border: 0px;
  }
  .card-img-top{
    border-radius: 32px;
  }

  .blog-title1{
    font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 28px;
  }

  .resource-section{
    background: #FFF7F7;

  }

  .resource-card{
    border: 1px solid #E7E9ED
  }

  .resource-body{
    padding: 35px 15px 15px;
  }

  .badge-title{
    background: #FFF7F7;
    color: #F6355A;
    padding: 5px 18px;
    border-radius: 30px;
font-size: 13px;
font-weight: 700;
  }

  .hosting-price{
font-size: 35px;
font-weight: 800;
color: #0D121F;
  }

  .hosting-price small{
font-size: 18px;
font-weight: 500;
color: #596780;

  }

  .plan-resource-desc{
font-size: 17px;
font-weight: 400;
line-height: 29px;
letter-spacing: -0.20000000298023224px;
color:  #0D121F;
width: 80%;
margin: auto;
  }

  .start-free-btn{
    background: #F6355A;
    color: #fff;
font-size: 16px;
padding: 10px 30px;
  }

  .start-free-btn:hover{
    border: 1px solid #F6355A;
    background-color: #fff;
    color:#F6355A

  }


  @media(max-width: 1200px){
    /* .home-plan {
      flex-wrap: nowrap;
      overflow-x: auto;
    
      scroll-behavior: smooth;
  } */
  /* .explore-plan-col{
    width: 390px;
  } */
  }

  @media(max-width:991px){
    .blog-date{
      font-size: 12px;
    }
    .blog-title1 {
      font-size: 15px;
      line-height: 20px;
  }

  .qloudService-section{
    margin-top: 2rem !important;
  }

  .consult{
      font-size: 14px;
      line-height: 25px;
  }
  .consult a {
    font-size: 16px;
}
.hosting-plan{
  margin-bottom: 2rem !important;
}
.planHead-con {
  width: 100% !important;
  margin-bottom: 2rem !important;
}

.feature-card h3 {
  font-size: 18px;
}
.feature-card span {
  font-size: 14px;
  line-height: 22px;
}
  }

  @media(max-width:768px){
  .blog-section{
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
  }
  .plan-resource-desc {
    width: 100%;
}

.features{
  font-size: 16px;
  margin-bottom: 12px !important;
}
  
  }



  
