*,
html,
body {
  padding: 0px;
  margin: 0px;
}

* {
  /* font-family: Plus Jakarta Sans; */
  /* font-family: "Inter", sans-serif; */
  font-family: "DM Sans", sans-serif;

}

.bg {
  background-color: #f6355a;
  color: #fff;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}
.p-80 {
  padding: 80px 0px 80px 0px;
}
.pb-80 {
  padding-bottom: 80px;
}
.w-85 {
  width: 85%;
  margin: auto;
}

.hero-container {
  padding: 20px 0px;
  overflow-x: clip;
}

h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 55px;
  color: #0b100d;
}

h2 {
  font-size: 35px;
  font-weight: 800;
  color: #0b100d;
  width: 80%;
}

.hero-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #3a3a3a;
}

.start-now-btn {
  background: #f6355a;
  padding: 12px 18px;
  border: 1px solid #f6355a;
  border-radius: 10px;
  color: #fff;
}

.start-now-btn:hover {
  background-color: #fff;
  color: #f6355a;
  border: 1px solid #f6355a;
}

.start-now-btn a:hover {
  color: #f6355a;
}

.start-now-btn a {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.explore-btn {
  padding: 13px 21px;
  border: 1px solid #0b100d;
  border-radius: 10px;
  background-color: #fff;
}

.explore-btn:hover {
  border: 1px solid #f6355a;
  color: #f6355a;
}
.explore-btn a {
  font-size: 16px;
  font-weight: 700;
  color: #0b100d;
  text-decoration: none;
}

.money-back-text {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  color: #f6355a;
}
.hero-frame {
  right: 0px;
  top: 146px;
  width: 37%;
}

.hero-image {
  width: 75%;
  right: -36px;
}

.plan-body {
  border: 1px solid #f1f1f1;
  box-shadow: -4px 4px 30px 0px #0000000a;
  padding: 35px;
  border-radius: 10px;
  height: 100%;
  transition: 0.4s;
}

.plan-body:hover {
  transform: scale(1.03);
  border: 1px solid #f6355a;
  background: #fff7f7;
}

.plan-body:hover .card-title {
  color: #f6355a;
}

.popular-card:hover {
  transform: scale(1.03);
}

.qloud-plan-body {
  box-shadow: 0px 0px 24.2px 0px #00000012;
  padding: 20px;
  border-radius: 10px;
}

.qloudHostPlan-features {
  font-size: 14px;
  font-weight: 500;
}

.qloudHostPlan-price {
  font-size: 32px;
  font-weight: 800;
  color: #0d121f;
}

.save {
  font-size: 16px;
  font-weight: 700;
  color: #f03f3d;
}
.save-price {
  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  color: #776568;
}

.features {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.check {
  color: #f03f3d;
  margin-right: 8px;
}

.plan-btn {
  width: 100%;
  padding: 12px;
  border-radius: 37px;
  background: #f6355a;
  border: 1px solid #f6355a;
  color: #fff;
}

.plan-btn:hover {
  background-color: #1E2944;
  border: 1px solid #1E2944;
  color: #fff;
}

.plan-btn a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.install-panel {
  background: #fff7f7;
}

.panel-sec {
  width: 85%;
}

.panel-opt {
  background: #f6355a;
  border: 1px solid #ffffff;
  border-radius: 55px 0pc 108px 55px;
  padding: 10px 20px;
  width: 208px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: #fff;
}
.panel-opt img {
  width: 14%;
  margin-right: 20px;
}

.service-card-body {
  height: 100%;
  border: 1px solid #ebeef2;
  box-shadow: 0px 1px 4px 0px #0000000d;
  transition: all 0.3s ease;
  border-radius: 5px;
  transition: 0.3s;
  position: relative;
}

.qloudService-img{
width: 30%;
}

.service-card-body:hover .service-title {
  color: #f6355a;
}

.service-card-body:hover {
  /* background-color: #FFFDF9; */
  background: #fff7f7;
}

.service-card-body::before,
.service-card-body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.7s ease 0s;
  border-radius: 5px;
}

.service-card-body:before {
  border-bottom: 3px solid #f6355a;
  border-top: 3px solid #f6355a;
  transform: scale(0, 1);
  transform-origin: 0 0 0;
}

.service-card-body:after {
  border-left: 3px solid #f6355a;
  border-right: 3px solid #f6355a;
  transform: scale(1, 0);
}

.service-card-body:hover::before,
.service-card-body:hover::after {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.15s;
}

.service-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.service-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}

.read-more {
  text-decoration: none;
  color: #f6355a;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  z-index: 10;
  position: relative;
}

.sub-heading {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #596780;
}

.starting-at {
  font-size: 18px;
  font-weight: 500;
  color: #596780;
}

.popular-qloudhost-card {
  border: 1px solid #f6355a !important;
  border-radius: 10px;
  box-shadow: 0px 0px 24.2px 0px #00000012;
  padding: 20px;
  transition: 0.4s;
}

.popular-qloudhost-card:hover {
  transform: scale(1.03);
  border: 1px solid #f6355a;
  background: #fff7f7;
}

.popular-qloudhost-card:hover .card-title {
  color: #f6355a;
}

.plan-group-btn {
  width: 50%;
  margin: auto;
}

.choose-plan-btn {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 0 !important;
  border: 1px solid #f6355a;
  color: #292929;
  background: #fff;
  color: #f6355a;
  font-weight: 600;
  padding: 10px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #f6355a;
  color: #fff;
}
.nav-link:focus,
.nav-link:hover {
  color: #f6355a;
}

.nav-option:focus,
.nav-option:hover {
  color: #f6355a;
}
/* dedicated-Server */

.AffordableCon-card {
  background: #f74d6e;
  border: 1px solid #fff;
}

.AffordableCon-card:hover {
  background: #fff7f7;
}

.AffordableCon-card:hover .affordable-card-title{
color: #000 !important;
}
.AffordableCon-card:hover .affordable-card-desc{
  color: #000 !important;
  }

.affordable-card-title {
  font-size: 20px;
  font-weight: 700;
  color: #fff !important;
}

.affordable-card-desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: #fff;
}

.dedicated-plan-btn {
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}
.top-feature {
  font-size: 16px;
  font-weight: 700;
  color: #144229;
}

.gurantee-seprator {
  border: 1px solid #f6355a;
  height: 160px;
  margin: auto;
}

.wordpress-features {
  font-size: 16px;
}

.qloudHost-plan-body {
  box-shadow: 0px 0px 24.2px 0px #00000012;
  padding: 20px;
  border-radius: 10px;
  transition: 0.4s;
  border: 1px solid #f1f5f9;
}

.qloudHost-plan-body:hover {
  transform: scale(1.03);
  border: 1px solid #f6355a;
  background: #fff7f7;
}

.hero-options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.option-icon {
  color: #f6355a;
}

.faq-answer {
  padding: 0px;
}

.custom-sol-btn {
  color: #f6355a;
}

.os-opt {
  border: 1px solid #f6355a;
  background-color: #fff;
  color: #f6355a;
  padding: 2px 8px;
  border-radius: 10px;
}
.paid-method-banner {
  background: #fff7f7;
}

.check-symbol {
  font-size: 35px;
}

.method-title {
  font-size: 20px;
  font-weight: 700;
}

.hero-subTitle {
  font-size: 15px;
  font-weight: 700;
  color: #616365;
}

.content-sec p {
  font-size: 14px;
  font-weight: 400;
  color: #616365;
  line-height: 22px;
}

.content-sec-list {
  font-size: 14px;
  font-weight: 400;
  color: #616365;
  line-height: 22px;
  list-style: none;
  padding: 0px;
}

.content-sec-list li {
  margin-bottom: 8px;
}

.policies {
  background: #fff7f7;
}

.content-sec {
  width: 85%;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #ebeef2;
  box-shadow: 0px 4px 7.8px 0px #0000000a;
}

.content-sec h4 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 20px 0px;
}

.content-sec h5 {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin: 20px 0px;
}
.about-sec h4 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 20px 0px;
}

.about-sec p {
  font-size: 14px;
  font-weight: 400;
  color: #616365;
  line-height: 20px;
}

.faq-link {
  color: #f6355a;
  text-decoration: none;
}

.qloudPlans-btn {
  text-decoration: none;
}
.qloud-popular-badge {
  background-color: #f6355a;
  color: #fff;
  left: calc(50% - 75px);
  box-shadow: -2px -2px 14.6px 0px #0000000d;
  border: 1px solid #fff;
  top: -19px;
  padding: 6px 50px;
  border-radius: 30px;
}

.new-server {
  left: calc(50% - 88px);
}

.qloud-streaming-badge {
  left: calc(50% - 93px);
  box-shadow: -2px -2px 14.6px 0px #0000000d;
  border: 1px solid #fff;
  top: -19px;
  padding: 6px 22px;
  background-color: #f6355a;
  color: #fff;
  border-radius: 30px;
}
.feature-element-sec h2 {
  font-size: 28px;
  font-weight: 800;
  color: #0b100d;
}

.feature-element-sec p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.4px;
  color: #0d121f;
}

.sol {
  font-size: 14px;
}

.content-opt {
  color: #f6355a;
}

.about-gurantee p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.table-responsive td {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contact-method h4{
font-size: 22px;
font-weight: 700;
}

.contact-method p{
  font-size: 14px;
  font-weight: 400;
  width: 90%;
}

.contact-banner{
  background: #FFF7F7;

}

.contact-link{
  color: #f6355a;
}

.contact-link:hover{
  font-weight: 600;

}

/* Add this CSS */
@media (max-width: 768px) {
  .table-responsive table {
    display: block;
    width: 100%;
  }

  .table-responsive thead {
    display: none;
  }

  .table-responsive tbody,
  .table-responsive tr {
    display: block;
    width: 100%;
  }

  .table-responsive tr {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    border-width: 0px !important ;
  }

  .table-responsive td {
    display: block;
    width: 100%;
    text-align: left;
    padding: px;
    border-width: 1px !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .table-responsive td::before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 100px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .hero-content p {
    font-size: 14px;
    line-height: 20px;
  }
  .start-now-btn a {
    font-size: 14px;
  }
  .start-now-btn {
    padding: 10px 6px;
    margin-right: 10px !important;
  }
  .explore-btn a {
    font-size: 14px;
  }
  .explore-btn {
    padding: 10px 6px;
  }
  .panel-sec {
    width: 100%;
  }

  .hero-options-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .plan-group-btn {
    width: 75%;
  }
  .content-sec {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .mt-50 {
    margin-top: 30px;
  }

  .hero-container {
    padding: 10px 0px;
  }

  .hero-image-container {
    display: none;
  }

  h1 {
    text-align: center;
  }
  .hero-content p {
    text-align: center;
  }
  .hero-buttons {
    text-align: center;
  }

  h2 {
    font-size: 22px;
    width: 100% !important;
  }
  .sub-heading {
    font-size: 14px;
    line-height: 22px;
    width: 100% !important;
    margin-bottom: 2rem !important;
  }
  .planHead-con {
    width: 100% !important;
    margin-bottom: 1.5rem !important;
  }

  .plan-sec {
    margin-top: 2rem !important;
  }
  .panel-item {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center !important;
    justify-content: center;
  }

  .gurantee-seprator {
    border: 1px solid #f6355a;
    height: 0px;
    margin: auto;
    width: 325px;
  }

  .guarantee-item {
    display: grid !important;
  }

  .service-text {
    font-size: 14px;
    line-height: 20px;
  }
  .content-sec {
    width: 100%;
  }
  .hero-subTitle {
    text-align: center;
  }
  .hero-options-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .option-item span {
    font-size: 14px;
  }
  .plan-group-btn {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .panel-opt {
    padding: 10px 20px;
    font-size: 13px;
    width: 155px;
  }
  .panel-opt img {
    width: 14%;
    margin-right: 10px;
  }
  .gurantee-seprator {
    width: 260px;
  }
  .guarantees-box {
    padding: 10px 2px !important;
  }
}

@media (min-width: 1200px) {
  .qloudHost-plan {
    width: 80%;
  }
}
